.dragon_navbar {
    background: var(--color-dragon-theme);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 3.75rem;
    padding: 1rem;
    box-shadow: var(--box-shadow);
}

.dragon_navbar_b {
    background: white;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.dragon_navbar_back {
    background: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    border-radius: 50%;
}

.dragon_navbar_back img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    rotate: -90deg;
}