.admin_addArticle_sectionB {
    border: 2px black dashed;
    padding: 1rem;
    color: black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin_addArticle_sectionB h1 {
    width: 80%;
    font-family: var(--font-family);
    font-size: 30px;
    max-width: 600px;
    text-align: center;
    margin: 20px 0;
}

.admin_addArticle_sectionB p {
    font-family: var(--font-cat);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.admin_addArticle_sectionB_pics {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}

.admin_addArticle_sectionB_pics div {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.admin_addArticle_sectionB_pics div img {
    max-height: 100%;
}