.admin_addArticle_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 0;
}

.admin_addArticle_footer_header {
    flex:1;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.admin_addArticle_footer_section {
    flex:1;
    padding-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.admin_addArticle_footer_tool {
    width: 90%;
    cursor: pointer;
    display: flex;
    margin: 0 1px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dragon-item);
    padding: 5px;
    box-shadow: 1px -2px 2px 0px rgba(0, 0, 0, 0.5);
}
/*
.admin_addArticle_footer_tool:hover {
    scale: 1.02;
}
*/

.admin_addArticle_footer_tool p:first-child {
    font-family: var(--font-cat);
    font-size: medium;
}

/* header A */

.admin_addArticle_footer_ha {
    height: 120px;
    padding: 4px;
    background-color: white;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin_addArticle_footer_tool h1 {
    font-family: var(--font-cat);
    font-size: 14px;
}

.admin_addArticle_footer_tool p {
    font-family: var(--font-cat);
    word-break: break-all;
    font-size: 10px;
    text-align: center;
}

.admin_addArticle_footer_ha div {
    width: 80%;
    flex:1;
    background-color: var(--color-dragon-theme);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: var(--font-cat);
}

/* header B */

.admin_addArticle_footer_hb {
    height: 120px;
    padding: 4px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.admin_addArticle_footer_hb div {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin_addArticle_footer_hb div:first-child {
    display: flex;
    background-color: var(--color-dragon-theme);
    font-family: var(--font-cat);
    justify-content: center;
    align-items: center;
    color: white;
    padding: 4px;
    text-align: center;
    margin-right: 4px;
}

/* header C */

.admin_addArticle_footer_hc {
    height: 120px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.admin_addArticle_footer_hc div:first-child {
    background-color: #171F40;
    background-image: radial-gradient(#5768D1 0.65px, #171F40 0.65px);
    background-size: 13px 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2px;
}

.admin_addArticle_footer_hc p{
    color: white;
    font-size: 10px;
    width: 50%;
    text-align: start;
}

.admin_addArticle_footer_hc h1 {
    color: white
}

/* section A */
.admin_addArticle_footer_sa {
    height: 120px;
    background-color: white;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin_addArticle_footer_sa_img {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.admin_addArticle_footer_sa_img div {
    flex:1;
    background-color: var(--color-cat-theme);
    font-family: var(--font-cat);
    font-size: 12px;
    color: white;
    padding: 4px;
    margin: 2px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section B */
.admin_addArticle_footer_sb {
    height: 120px;
    width: 100%;
    padding: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin_addArticle_footer_sb div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-cat-theme);
    width: 80%;
    font-family: var(--font-cat);
    color:white;
    flex:1;
    margin-bottom: 2px;
}

/* section C */
.admin_addArticle_footer_sc {
    height: 120px;
    background-color: white;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin_addArticle_footer_sc div {
    display: flex;
    flex-direction: row;
}

.admin_addArticle_footer_sc div div {
    display: flex;
    flex-direction: column;
    flex:1;

}

.admin_addArticle_footer_sc div div p {
    align-self: self-start;
    text-align: left;
}

.admin_addArticle_footer_sc_img__{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: var(--font-cat);
    margin: 2px;
    background-color: var(--color-cat-theme);
}

.admin_addArticle_footer_sc_img {
    flex:1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.admin_addArticle_footer_sc_img_ {
    flex:1;
    background-color: var(--color-cat-theme);
    margin: 2px;
    font-family: var(--font-cat);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}