.admin_addArticle_section_w {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 4rem 0 4rem;
}

.admin_addArticle_sec h1 {
    font-family: var(--font-cat);
    color: black;
    margin-top: 4rem;
    text-align: center;
}

/* buttons */

.admin_addArticle_section_addBtn{
    cursor: pointer;
    background-color: var(--color-blue);
    font-family: var(--font-cat);
    color: white;
    font-size: 40px;
    text-align: center;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-radius: 25px;
    box-shadow: var(--box-shadow);
    right: 40px;
    bottom: 240px;
}

.admin_addArticle_section_addBtn:hover:active {
    scale: 0.9;
}

.admin_addArticle_section_w button {
    cursor: pointer;
    font-family: var(--font-cat);
    font-size: 18px;
    width: 100px;
    padding: 10px;
    border: none;
    background-color: var(--color-dragon-theme);
    color: white;
    margin: 0 70px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

.admin_addArticle_section_removeBtn {
    cursor: pointer;
    background-color: var(--color-cat-theme);
    font-family: var(--font-cat);
    color: white;
    font-size: 40px;
    text-align: center;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-radius: 25px;
    box-shadow: var(--box-shadow);
    right: 40px;
    bottom: 180px;
}

.admin_addArticle_section_removeBtn:hover:active {
    scale: 0.9;
}

.admin_addArticle_section_removeBtn div {
    width: 20px;
    height: 3px;
    background-color: white;
}