.admin_addArticle_preHeaderB {
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-family: var(--font-cat);
    color:black;
}

.admin_addArticle_preHeaderB_pic {
    flex: 1;
    margin-right: 20px;
    width: 500px;
    height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin_addArticle_preHeaderB_content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.admin_addArticle_preHeaderB_content h1 {
    font-family: var(--font-family);
    padding-bottom: 1rem;
}

.admin_addArticle_preHeaderB_date {
    color: #000000aa;
    font-size: 16px;
    padding-bottom: 1rem;
    line-height: 30px;
    text-align: center;
}

.admin_addArticle_preHeaderB_intro {
    font-size: 20px;
    padding-bottom: 4rem;
    line-height: 30px;
    text-align: center;
}
