.cat_picItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cat_picItem_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cat_picItem p.cat_picItem_discribtion { 
    margin-top: 4px;
    font-family: var(--font-cat);
    font-size: 14px;
    color: #616161;
    max-width: 600px;
    text-align: center;
}
