.cat_sectionC {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 4rem;
    margin-bottom: 8rem;
    margin-top: 4rem;
}

.cat_sectionC_header {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 4rem;
}

.cat_sectionC_header_content {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 2rem;
    max-height: 500px;
    overflow-y: scroll;
}

.cat_sectionC_header_content h2 {
    font-family: var(--font-family);
    font-size: 30px;
    color:black;
    margin-bottom: 2rem;
}

.cat_sectionC_header_content p {
    font-family: var(--font-cat);
    font-size: 20px;
    line-height: 30px;
    color: black;
}

.cat_sectionC_cover {
    flex:1;
    width: 400px;
    height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cat_sectionC_items {
    margin-bottom: 1rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}