.top_btn {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    cursor: pointer;
    background: radial-gradient(50% 50.00% at 50% 50.00%, #B8565B 52.59%, rgba(255, 255, 255, 0.08) 75%, #171F40 80.73%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    scale: 1;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top_btn:hover{
    scale: 1.1;
    opacity: 1;
}

.top_btn:active {
    scale: 0.9;
    opacity: 1;
}

.top_btn_arrow {
    opacity: 0;
    transition: all .2s ease-in-out;
}

.top_btn:hover .top_btn_arrow{
    opacity: 1;
}

.top_btn:active .top_btn_arrow:active {
    opacity: 1;
    scale: 0.7;
}