.admin_addArticle_preSectionA {
    border: 2px black dashed;
    padding: 1rem;
    color: black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin_addArticle_preSectionA h1 {
    width: 80%;
    font-family: var(--font-family);
    font-size: 30px;
    max-width: 600px;
    text-align: center;
    margin: 20px 0;
}

.admin_addArticle_preSectionA p {
    font-family: var(--font-cat);
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.admin_addArticle_preSectionA_pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.admin_addArticle_preSectionA_pics div{
    margin: 10px;
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%; /* 两行两行的形式，根据需要调整宽度 */
    margin-bottom: 10px; /* 设置间距，根据需要调整 */
    overflow: hidden;
}