.dragon_page_next {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

.dragon_page_next_ {
    cursor: pointer;
}

.dragon_page_next_numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dragon_page_next_number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 50%;
    margin: 0 0.2rem;
}

.dragon_page_next_number p {
    position: absolute;
    font-family: var(--font-cat);
    text-align: center;
    font-size: 14px;
    color: var(--color-cat-item);
    cursor: pointer;
}