.cat_categories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--color-cat-bg);
}

.cat_categories_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.cat_categories_body h2 {
    margin-top: 4rem;
    font-family: var(--font-family);
    font-size: 30px;
    color: black;
    margin-bottom: 2rem;
}

.cat_categories_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 14rem;
}

.cat_catgories_content_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}