.admin_addArticle_preHeaderA {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--font-cat);
    color: black;
}

.admin_addArticle_preHeaderA h1 {
    font-family: var(--font-family);
    padding: 1rem;
}

.admin_addArticle_preHeaderA_date {
    color: #000000aa;
    font-size: 16px;
    padding-bottom: 1rem;
    line-height: 30px;
    text-align: center;
}

.admin_addArticle_preHeaderA_intro {
    font-size: 20px;
    padding-bottom: 4rem;
    line-height: 30px;
    width: 60%;
    text-align: center;
}