.cat_cateItem {
    display: flex;
    background: var(--color-cat-theme);
    margin-right: 0.6rem;
    margin-bottom: 1rem;
    padding: 0.6rem 1.2rem;
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.cat_cateItem p {
    font-family: var(--font-cat);
    font-size: 20px;
    color: white;
}