.cat_share_button {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.cat_headerA_share_icon {
    color: black;
    cursor: pointer;
    margin-right: 1rem;
}

.cat_headerA_shareBox {
    background: var(--color-cat-item);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 1rem;
    border-radius: 50px;
    margin-right: 1rem;
}

.cat_headerA_share_item {
    cursor: pointer;
    margin: 0 3px;
    color: black;
}