.coming_soon {
    margin-bottom: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coming_soon h2 {
    font-family: var(--font-family);
    font-size: 48px;
    color: white;
    text-align: center;
    margin: 4rem 0;
}

.coming_soon p {
    font-family: var(--font-cat);
    font-size: 30px;
    color: white;
    
}