.intro {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 4rem 10rem;
}

.intro_img {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 600px;
    overflow:hidden;
}

.intro_img img {
    height: 100%;
}

.intro_content {
    flex: 1;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 2rem;
    overflow-y:scroll;
}

.intro_content h2{
    font-family: var(--font-family);
    font-size: 30px;
    color: black;
    margin-bottom: 2rem;
}

.intro_content p {
    width: 86%;
    font-family: var(--font-cat);
    font-size: 20px;
    line-height: 30px;
    color:#616161;
}