.cat_article {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cat_article_category_text {
    font-family: var(--font-family);
    font-size: 30px;
    color:black;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 6rem;
}

.cat_article_categories {
    max-width: 900px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 4rem;
}