.cat_navbar {
    width: 100%;
    background: var(--color-cat-bg);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 3.75rem;
    padding: 1rem;
    box-shadow: var(--box-shadow);
}

.cat_navbar_b {
    background: var(--color-cat-bg);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cat_navbar_back {
    background: var(--color-cat-bg);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    border-radius: 50%;
}

.cat_navbar_back img {
    background: var(--color-cat-bg);
    width: 80px;
    height: 80px;
    cursor: pointer;
}