.cat_headerC {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 600px;
    background-image: url("../../../assets/cat.png");
    background-size: cover;
    background-position: center;
    background-repeat: 'no-repeat';
    transition: all 1s ease-in-out;
    margin-bottom: 4rem;
}


.cat_headerC_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 600px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.82) 0%, rgba(0, 0, 0, 0.67) 42.19%, rgba(0, 0, 0, 0.00) 100%);
    overflow-y: scroll;
}

.cat_headerC_header {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cat_headerC p.cat_headerC_date {
    font-family: var(--font-cat);
    color: white;
    font-size: 16px;
    padding: 0;
}

.cat_headerC_share {
    color: white;
    cursor: pointer;
    border: 1px;
    border-style: dashed;
    border-color: white;
}

.cat_headerC h2 {
    padding: 1rem;
    width: 50%;
    font-family: var(--font-family);
    font-size: 30px;
    color: white;
}

.cat_headerC p {
    font-family: var(--font-cat);
    font-size: 20px;
    line-height: 30px;
    width: 50%;
    color: white;
    padding: 1rem;
}