.dragon_cubeSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4rem;
}

.dragon_cubeSection_context {
    margin-top: 2rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dragon_cubeSection_context h2 {
    font-family: var(--font-family);
    font-size: 48px;
    color: white;
    text-decoration-line: underline;
    text-align: center;
}

.dragon_cubeSection_context p {
    font-family: var(--font-dragon);
    font-size: 20px;
    color: white;
    width: 80%;
    text-align: center;
    margin-top: 2rem;
}

.dragon_cubeSection_cubes {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    align-items: center;
}