.cat_headerA {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}

.cat_headerA_share {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 4rem;
}

.cat_headerA_share_icon {
    color: black;
    cursor: pointer;
    margin-right: 1rem;
}

.cat_headerA h2 {
    width: 50%;
    text-align: center;
    font-family: var(--font-family);
    font-size: 30px;
    color: black;
    background: white;
}

.cat_headerA p {
    font-family: var(--font-cat);
    font-size: 20px;
    line-height: 30px;
    color: black;
    width: 60%;
    text-align: center;
    margin-top: 1rem;
}

.cat_headerA p.cat_headerA_date {
    color: #616161;
    font-size: 16px;
}

.cat_headerA_img {
    width: 80%;
    height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}

.cat_headerA_img img {
    height: 100%;
}

.cat_headerA_shareBox {
    background: var(--color-cat-item);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 1rem;
    border-radius: 50px;
    margin-right: 1rem;
}

.cat_headerA_share_item {
    cursor: pointer;
    margin: 0 3px;
    color: black;
}