.cat_category_page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    background: var(--color-cat-bg);
}

.cat_category_results {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cat_category_pagenext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
}

.no_article {
    width: 100%;
    text-align: center;
    margin: 4rem 0;
    font-family: var(--font-family);
    font-size: 40px;
    color:grey;
}