.about_cat {
    margin: 0;
    padding: 4rem 10rem;
    display: flex;
    flex-direction: row;
}

.about_cat_content {
    flex: 1;
    width: 535px;
    height: 633px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-right: 2rem;
}

.about_cat_content h2 {
    font-family: var(--font-family);
    font-size: 30px;
    color: black;
    text-align: start;
    margin-bottom: 1rem;
}

.about_cat_content p {
    font-family: var(--font-cat);
    font-size: 20px;
    color: #616161;
}

.about_cat_img {
    flex:1;
    width: 535px;
    height: 633px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.about_cat_img img {
    height: 100%;
}


