.search {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search:first-child {
    color: #424242;
    cursor: pointer;
}

.search_inputBox {
    position:absolute;
    top: 2rem;
    right: 2.4rem;
}

.search_inputBox input {
    background: var(--color-cat-bg);
    width: 16rem;
    height: 2.4rem;
    border-radius: 50px;
    border: 0;
    padding: 14px;
    font-size: 16px;
    font-family: var(--font-cat);
    color: black;
    box-shadow: var(--box-shadow);
}

.search_inputBox input:focus {
    outline: 0;
}