.cat_category {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding:0 16rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.cat_category_items {
    width: 760px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.cat_category button {
    border: none;
    background-color: #BD787B;
    border-radius: 50%;
    padding: 4px;
    box-shadow: var(--box-shadow);
}