.dragon_hoverbar {
    top: 30px;
    left: 30px;
    align-self: flex-start;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    width:600px;
    border-radius: 50px;
    background: var(--color-gradient-trans);
    box-shadow: var(--box-shadow);
}

.dragon_hoverbar_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--color-gradient-trans);
    cursor: pointer;
}

.dragon_hoverbar_icon img {
    width: 60px;
    height: 60px;
    opacity: 0.7;
    rotate: -90deg;
}

.dargon_hoverbar_links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dragon_hoverbar_link {
    flex: 1;
    border-radius: 50px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dragon_hoverbar_link p {
    font-family: var(--font-family);
    font-size: 16px;
    text-align: center;
    color:white;
}
