.whatsnew {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
}

.whatsnew h1 {
    font-family: var(--font-family);
    margin-bottom: 1rem;
}

.whatsnew_container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.whatsnew_container_pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsnew_container_pic img {
    max-width: 1200px;
    width: 70%;
    box-shadow: var(--box-shadow);
}

.whatsnew_container_card {
    max-width: 1200px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-cat-bg);
    padding: 4rem 2rem 1rem 2rem;
    box-shadow: var(--box-shadow);
}

.whatsnew_container_card_r1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.whatsnew_container_card_r1 h2 {
    font-family: var(--font-family);
    font-size: 30px;
    text-decoration-line: underline;
    line-height: normal;
    color: black;
}

.whatsnew_container_card_r1 p {
    font-family: var(--font-family);
    line-height: normal;
    font-size: 16px;
    color: #616161;
}

.whatsnew_container_card_r2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    padding: 1rem 0;
}

.whatsnew_container_card_r2 p {
    width: 80%;
    height:fit-content;
    font-family: var(--font-cat);
    font-size: 16px;
    color: #616161;
}

.whatsnew_container_card_r3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.whatsnew_container_card_tag {
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
}

.whatsnew_container_card_tag p {
    margin-right: 0.4rem;
    font-family: var(--font-family);
    color: var(--color-dragon-item);
    font-size: 16px;
}

.whatsnew_container_card_r3:last-child {
    font-family: var(--font-family);
    color: #616161;
    cursor: pointer;
    font-size: 16px;
}



